// AddTodo, Todo components
.todo-wrapper {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
    align-items: center;
  }

  &.update-todo {
    margin-bottom: 8px;
  }

  .input-wrapper {
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    &.add-todo {
      font-size: 24px;
      //background-color: $green;
      background-image: linear-gradient(to right, $green-light, $green);
  }
    &.update-todo {
      font-size: 24px;
      //background-color: $blue-electric;
      background-image: linear-gradient(to right, $blue-electric-light, $blue-electric);
    }

    @include media-breakpoint-up(sm) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    input.input-content {
      font-size: inherit;
      background-color: inherit;
      color: $white;
      font-weight: bolder;
      padding: 4px 8px;
      margin: 0;
      border-radius: 8px;
      border: none;
      cursor: pointer;

      &::placeholder {
        color: inherit;
      }

      &:focus {
        outline: none;
      }
    }

    span.input-important {
      margin: 0 8px;
      color: $white;
      transition: color 0.2s ease-in-out;
      cursor: pointer;
      display: flex;
      align-items: center;

      &.important {
        color: $orange;
      }

      i {
        font-size: 24px;
        margin: 0 0 8px 0;

        @include media-breakpoint-up(sm) {
          margin: 0;
        }
      }
    }
  }

  button.btn-save {
    i {
      font-size: 32px;
    }
  }

  .btn-wrapper {
    @include media-breakpoint-up(sm) {
      margin: 0 8px;
    }

    span {
      font-size: 24px;
      margin: 0 8px;
      cursor: pointer;

      &.update {
        color: $green-light;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: $green;
        }

        .rotate {
          @extend i;
          animation: spin 2s linear infinite;

          @keyframes spin {
            100% {
              transform: rotate(360deg);
            }
          }
        }
      }

      &.delete {
        color: $yellow-flash;
        transition: color 0.2s ease-in-out;
        &:hover {
          color: $orange;
        }

        @include media-breakpoint-up(sm) {
          color: $orange;
          transition: color 0.2s ease-in-out;
          &:hover {
            color: $orange-red;
          }
        }
      }
    }
  }
}

// Todos component
#toggle-show-all-todos {
  display: flex;
  align-items: center;
  margin: 16px 0;
  color: $white;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $yellow;
  }

  span {
    font-weight: bolder;
    &.toggle-off {
      color: inherit;
      &:hover {
        color: $yellow;
      }
    }
    &.toggle-on {
      color: $yellow;
    }
  }

  .btn-toggle-show {
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: flex;
    align-items: center;

    &:has(i.fa-toggle-off) {
      color: inherit;
    }

    &:has(i.fa-toggle-on) {
      color: $yellow;
    }

    i { margin: 0;}
    span { margin: 0 0 0 8px;}
  }
}


.btn-save {
  margin: 8px 0;
  padding: 0;
  font-weight: bolder;
  border: none;
  color: $white;
  background-color: transparent;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $green;
  }

  @include media-breakpoint-up(sm) {
    margin: 0 0 0 8px ;
    padding: 0;
    display: flex;
    align-items: center;
  }
}
