// AddTodo, Todo components
.todo-wrapper {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
    align-items: center;
  }

  &.update-todo {
    margin-bottom: 8px;
  }

  .input-wrapper {
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    &.add-todo {
      font-size: 24px;
      background-color: $green;
  }
    &.update-todo {
      font-size: 18px;
      background-color: $blue-electric;
    }

    @include media-breakpoint-up(sm) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    input.input-content {
      font-size: inherit;
      background-color: inherit;
      color: $white;
      font-weight: bolder;
      padding: 4px 8px;
      margin: 0;
      border-radius: 8px;
      border: none;
      cursor: pointer;

      &::placeholder {
        color: inherit;
      }

      &:focus {
        outline: none;
      }
    }

    span.input-important {
      margin: 0 8px;
      color: $white;
      transition: color 0.2s ease-in-out;
      cursor: pointer;
      display: flex;
      align-items: center;

      &.important {
        color: $orange;
      }

      i {
        font-size: 24px;
        margin: 0 0 8px 0;

        @include media-breakpoint-up(sm) {
          margin: 0;
        }
      }
    }
  }

  button#btn-save {
    i {
      font-size: 32px;
    }
  }

  .btn-wrapper {
    @include media-breakpoint-up(sm) {
      margin: 0 8px;
    }

    span {
      font-size: 24px;
      margin: 0 8px;
      cursor: pointer;

      &.update {
        color: $green;

        .rotate {
          @extend i;
          animation: spin 2s linear infinite;

          @keyframes spin {
            100% {
              transform: rotate(360deg);
            }
          }
        }
      }

      &.delete {
        color: $yellow;
      }
    }
  }
}

// Todos component
#toggle-show-all-todos {
  display: flex;
  align-items: center;
  margin: 16px 0;

  span {
    font-weight: bolder;
    &.toggle-off {
      color: $white;
    }
    &.toggle-on {
      color: $yellow;
    }
  }

  button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;

    &:has(i.fa-toggle-off) {
      color: $white;
    }
    &:has(i.fa-toggle-on) {
      color: $yellow;
    }
  }
}
