$blue-light: $blue-500;
$blue-strong: $blue-600;
$blue-react: #60DBFB;

$orange: rgba(255, 184, 0, 1);
$orange-red: rgba(255, 87, 20, 1);
$green: rgba(110, 235, 131, 1);
$green-dark: rgba(110, 235, 131, 0.6);
$blue-electric: rgba(27, 231, 255, 1);
$white: white;


$footer-bg: $gray-900;
