$yellow-flash: rgba(255, 215, 0, 1);
$orange: rgba(255, 184, 0, 1);
$orange-red: rgba(255, 87, 20, 1);
$green: rgba(110, 235, 131, 1);
$green-light: rgba(110, 235, 131, 0.85);
$blue-electric: rgba(27, 231, 255, 1);
$blue-electric-light: rgba(27, 231, 255, 0.85);
$white: white;
